// ======================
//     AddProduct-form
// ======================
.main {
	background-color: #1a8084;
	.product_details {
		box-sizing: border-box;
		padding: 50px 0;
		.product_form {
			background-color: #fff;
			border-radius: 10px;
			padding: 30px 45px;
			width: 50%;
			margin: 0 auto;
		}
		h1 {
			font-family: "Roboto", sans-serif;
			text-align: center;
			font-size: 1.8rem;
			text-transform: capitalize;
			font-weight: 400;
			margin-bottom: 25px;
			text-decoration-line: underline;
			color: #9eb2c9;
		}
		input[type="text"],
		input[type="file"],
		select {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}
		input[type="submit"] {
			width: 100%;
			background-color: #4caf50;
			color: white;
			padding: 16px 20px;
			margin: 8px 0;
			border: none;
			font-size: 1rem;
			border-radius: 4px;
			cursor: pointer;
		}
		input[type="submit"]:hover {
			background-color: #45a049;
		}
		label {
			text-transform: capitalize;
			font-size: 1.1rem;
			font-family: "Caveat", cursive;
			color: #1a8084;
		}
		::-webkit-input-placeholder {
			font-size: 14px;
			font-family: "Caveat", cursive;
			text-transform: capitalize;
		}
	}
}
