// ==========================
//      product description
// ==========================

.product_description {
	.product_image {
		padding: 30px 25px;
		display: grid;
		grid-template-columns: 40% 60%;
	}
	.size-btn,
	.clr-btn {
		text-transform: uppercase;
		position: relative;
		height: 50px;
		width: 50px;
		outline: 0;
		border: 0;
		border-radius: 100%;
		background: #fff;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		transition: 0.4s all;
		cursor: pointer;
		margin: 10px;
		:hover {
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
		}
	}
	.selected {
		background: #9eb2c9;
	}
	h2 {
		text-transform: uppercase;
		font-family: "Roboto", sans-serif;
		text-align: left;
		font-size: 1.4rem;
		font-weight: 500;
		color: #9eb2c9;
	}
	p {
		padding: 10px 0;
		text-align: left;
		text-transform: capitalize;
		font-weight: 300;
		font-size: 1rem;
		font-family: "Caveat", cursive;
		color: #111111;
	}
	.left-side-image {
		text-align: center;
		.product-image {
			text-align: center;
			img {
				height: 60%;
				width: 60%;
				object-fit: cover;
				box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
	.button {
		margin-top: 20px;
	}
	.detail-btn {
		position: relative;
		padding: 10px 30px;
		outline: 0;
		border: 0;
		font-weight: 250;
		text-transform: capitalize;
		font-size: 1rem;
		background: #fff;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		transition: 0.4s all;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
			background-color: #eb4800;
			color: #1a8084;
			font-weight: 350;
		}
	}
	.buynow_btn {
		margin-left: 15px;
	}
	//left side
	.product_description {
		.info_product {
			padding: 35px 50px;
		}
	}
}
