// ==================================
//          shop section
// ==================================
a {
	text-decoration: none;
}
.shop_component {
}
.shop_section {
	background-color: #e9efed;
	padding: 30px 25px;
	display: grid;
	grid-template-columns: 20% 80%;
	.search_product {
		padding: 3px;
		text-align: left;
	}
}
.col1_filter {
	.search_product {
		padding: 12px 25px;
		outline: none;
		text-transform: capitalize;
	}
	:placeholder-shown {
		text-align: left;
	}
}

// ============================
// 		shopping-page
// ============================
.col2_items_list {
	.display_products {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	p {
		text-align: center;
		font-weight: 400;
		font-size: 1rem;
		font-family: "Caveat", cursive;
		color: #111111;
		margin-top: 6px;
	}
	.product-name {
		text-transform: uppercase;
	}
	.product-price {
		color: #1a8084;
		text-transform: capitalize;
	}
	.show_product {
		display: grid;
		grid-template-rows: 250px 60px;
		grid-gap: 0;
		&:hover {
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
			cursor: pointer;
		}
		&:hover .product_detail {
			background-color: #eb4800;
		}
	}
}
